
.soical-icon {
    color: grey;
}

a.unstyled {
  color: grey;
}

a.unstyled:link {
  text-decoration: none;
}

a.unstyled:visited {
  text-decoration: none
}

a.unstyled:hover {
  text-decoration: none
}

a.unstyled:active {
  text-decoration: none;
}
