<div style="margin-top: 10px; margin-bottom: 10px;">
<a href="https://twitter.com/zlu" target="_blank" class="unstyled">
  <span class="icon-stack">
  <i class="icon-circle icon-stack-base icon-3x"></i>
  <i class="icon-twitter icon-2x icon-light"></i>
  </span>
</a>
<a href="http://linkedin.com/in/zhaolu" target="_blank" class="unstyled">
    <span class="icon-stack">
    <i class="icon-circle icon-stack-base icon-3x"></i>
    <i class="icon-linkedin icon-2x icon-light"></i>
    </span>
</a>
<a href="https://google.com/+Zhaolu" target="_blank" class="unstyled">
    <span class="icon-stack">
    <i class="icon-circle icon-stack-base icon-3x"></i>
    <i class="icon-google-plus icon-2x icon-light"></i>
    </span>
</a>
</div>