**John Hopkins University**:
- Business Analytics & Artificial Intelligence

**University of Rochester**:
- Intro to Statistical Machine Learning

**University of Birmingham**:
- Artificial Intelligence

**University of Nottingham**:
- COMP4030: Data Science with Machine Learning

**College of William and Mary**:
- Artificial Intelligence

**Macquarie University**:
- COMP2200/COMP6200: Data Science
- COMP6010: Fundamentals of Computer Science

**University of Auckland**:
- STATS 220: Data Technologies (R)
- COMPSCI101: Principle of Programming (Python)

**Monash University**:
- FIT5196: Data Wrangling (Information Technology)
- FIT9136: Intro to Python (Information Technology)
- FIT2014: Theory of Computation (Information Technology)
- FIT1045: Introduction to Programming (Computer Science)
- FIT1058: Foundations of Computing (Computer Science)

**University of Sydney**:
- COMP3221: Distributed Systems (Computer Science)
- INFO1113: Object-Oriented Programming (Computer Science)

**University of Pittsburgh**:
- CS 0445: Algorithms and Data Structures (Computer Science)
- CMPINF 0401: Intermediate Programming (School of Computing and Information)

**UNSW Sydney**:
- INFS1701: Introduction to Networking and Security
- INFS1603: Introduction to Business Databases
- ADAD9113: Communication Skills for Creative Disciplines

**University of Melbourne**:
- COMP10001: Foundations of Computing

**University of Queensland**:
- CSSE7030 Intro to Programming (Computer Science)

**Cardiff University**:
- CM6125: Database Systems
- CM6123: Software Development Skills (School of Computer Science and Informatics)
- CMT645: DevOps
- CMT655: Manipulating and Exploring Data

**NTU Singapore**:
- CS2030DE Programming Methodology II (Functional Programming)
- AB0403 Decision Making with Programming & Analytics

**James Cook University Singapore**:
- CP1407 - Introductory Machine Learning and Data Science

**Queen Mary University of London**:
- Undergradute Final Project: School of Electronic Engineering & Computer Science

**The University of Hongkong**:
- COMP3340: Applied Deep Learning (School of Computing and Data Science)
- COMP1117B: Computer Programming (School of Computing and Data Science)

**Hongkong Metropolitan University**:
- COMP2030SEF: Intermediate Java Programming & User Interface Design

**Hongkong Baptist University**:
- COMP7025: Artificial Intelligence for Digital Transformation

**The National University of Malaysia**:
- Technology for Success: Computer Concepts