<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page.title }}</title>

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/zhaolu.css">

  <link href='http://fonts.googleapis.com/css?family=Trykker' rel='stylesheet' type='text/css'>

  <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

</head>
<body>

<!-- <header>
  <h1><a href="/">zlu</a></h1>
  <nav class="social-icons">
    <a href="http://github.com/zlu" target="_blank"><i class="fab fa-github"></i></a>
    <a href="http://linkedin.com/in/zhaolu" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="http://twitter.com/zlu" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://speakerdeck.com/zlu" target="_blank"><i class="fas fa-chalkboard-teacher"></i></a>
    <a href="http://www.goodreads.com/zlulz" target="_blank"><i class="fab fa-goodreads"></i></a>
  </nav>
</header> -->

<!-- <main>
  {{ content }}
</main>

<footer>
  <p>&copy; {{ "now" | date: "%Y" }} Zhao Lü</p>
</footer>

<script src="https://kit.fontawesome.com/your-font-awesome-kit.js" crossorigin="anonymous"></script> -->

<div class="container">
  <div class="header">
    <h2 class="title"><a href="/">{{ site.name }}</a></h2>
  </div>

  <div class="row">
    <div class="col-md-4">
      {% for post in site.posts %}
      <div style="margin-bottom: 10px;">
          <a href="{{ post.url }}">{{ post.title }}</a><br>
          <span>{{ post.date | date: "%m-%d-%Y" }}</span>
      </div>
      {% endfor %}
      <a href="/archives">Archive</a>
    </div>

    <div class="col-md-8">
      {{ content }}
    </div>
    
  </div>

  <div class="footer">
    {% include footer.html %}
  </div>

</div>

</body>
</html>
