<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page.title }}</title>

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/zhaolu.css">

  <link href='http://fonts.googleapis.com/css?family=Trykker' rel='stylesheet' type='text/css'>

  <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

</head>
<body>

<div class="header" style="margin-bottom:20px"></div>
<div class="container">

  <div class="row">
    <div class="col-md-4">
          
      <img src="/assets/images/avatar.png" class="img-rounded" alt="Zhaolu" width="200px">
      
      <h2 class="title"><a href="/">{{ site.name }}</a></h2>

      <div style="margin-top: 10px; margin-bottom: 10px;">
        <a href="https://github.com/zlu" target="_blank" class="unstyled">
          <span class="icon-stack">
            <i class="icon-circle icon-stack-base icon-3x"></i>
            <i class="icon-github icon-2x icon-light"></i>
          </span>
        </a>
        <a href="https://twitter.com/zlu" target="_blank" class="unstyled">
          <span class="icon-stack">
            <i class="icon-circle icon-stack-base icon-3x"></i>
            <i class="icon-twitter icon-2x icon-light"></i>
          </span>
        </a>
        <a href="http://linkedin.com/in/zhaolu" target="_blank" class="unstyled">
          <span class="icon-stack">
            <i class="icon-circle icon-stack-base icon-3x"></i>
            <i class="icon-linkedin icon-2x icon-light"></i>
          </span>
        </a>
      </div>

      {% for post in site.posts %}
      <div style="margin-bottom: 10px;">
          <a href="{{ post.url }}">{{ post.title }}</a><br>
          <span>{{ post.date | date: "%m-%d-%Y" }}</span>
      </div>
      {% endfor %}
      <a href="/archives">Archive</a>
    </div>

    <div class="col-md-8">
      {{ content }}
    </div>
    
  </div>

  <div class="footer" style="margin-top:20px">
    {% include footer.html %}
  </div>

</div>

</body>
</html>
